.main-sect
	height: 50%
#canvasLayers
	width: 100%!important
	height: 100%!important
	position: relative
#monitor
	display: none
#videoCanvas
	width: 100%!important
	height: 100%!important
	opacity: 0.5
	position: absolute
	z-index: 1
	top: 0
	left: 0
#layer2
	width: 100%!important
	height: 100%!important
	position: absolute
	left: 0
	top: 0
	opacity: 0.5
	z-index: 2
#blendCanvas
	display: block
	width: 100%

@media only screen and (max-width : 1440px)
	//
@media only screen and (max-width : 1200px)
	//
@media only screen and (max-width : 992px)
	//
@media only screen and (max-width : 768px)
	//
@media only screen and (max-width : 560px)
	//
@media only screen and (max-width : 480px)
	//
@media only screen and (max-width : 320px)
	//

